<div class="jumbotron jumbotron-fluid">
    <div class="container colorPapel">
        <h1 class="display-4">{{ 'home.title' | translate }}</h1>
        <!-- <p class="lead">{{'home.intro' | translate }}</p> -->
        <p>Este es un proyecto para dar a conocer y visibilizar a los héroes del pulp, personajes muchos de ellos ya desconocidos para la mayoría de la gente.</p>
        <p>En estos tiempos en los personajes de cómic se han sabido reinventar pasando del papel a las películas. En estos tiempos en los que parece que han abandonado el ghetto y se han convertido en un producto de masas, al menos en su versión fílmica. En estos tiempo, los personajes del pulp, sus directos antecesores están completamente olvidados.</p>
        <p>Y es que antes de que los personajes de Marvel recorrieran las calles ya había otros justicieros. Antes que Batman fue Las Sombra quien acechaba desde la oscuridad. Antes que el Dr. Extraño estaba Mandrake…</p>
        <p>En esta página queremos dar a conocer la ingente cantidad de personajes casi olvidados del pulp y dar la oportunidad de darse a conocer a los más nuevos héroes del NeoPulp.</p>

        <img src="/assets/LogoEB_min.png" alt="Ediciones Bizarras">
    </div>
</div>