    /* You can add global styles to this file, and also import other style files */
    
    body {
        background-color: black;
        color: antiquewhite;
        background-image: url('assets/fondo2.jpg');
    }
    
    footer {
        color: white;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    
    .colorPapel {
        background-color: antiquewhite;
        color: black;
    }
    
    .jumbotron {
        background: none;
    }