    /* You can add global styles to this file, and also import other style files */
    
    body {
        background-color: black;
        background-image: url('assets/fondo2.jpg');
    }
    
    footer {
        color: white;
        bottom: 0px;
        width: 100%;
    }
    
    .colorPapel {
        background-color: antiquewhite;
        color: black;
    }
    
    .jumbotron {
        background: none;
    }
    
    .titulo {
        margin: 10px;
        color: antiquewhite;
        font-weight: bolder
    }
    
    .contenedorDetalle {
        margin: 10px;
    }
    
    .resaltado {
        font-weight: bold;
    }