<header class="bg-dark text-center">

    <div class="row">
        <br>
        <button (click)="useLanguage('en')">en</button>
        <button (click)="useLanguage('es')">es</button>
        <img src="/assets/logo.png" alt="Heroes del pulp">
        <!-- </div>
    <div class="row"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['home']">{{ 'cabecera.home' | translate }}</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link disabled">{{ 'cabecera.personajes' | translate }}</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link disabled">{{ 'cabecera.acercaDe' | translate }}</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

</header>